ci
dist
notebooks
tests
.appveyor.yml
.travis.yml
Singularity.def
tox.ini
src/mykrobe/data
src/mykrobe/cortex/mccortex31
.idea
.mongodb
.coverage
.gitignore
.git
.tox
/mccortex
/mykrobe
/tmp
.pytest_cache
/build
Dockerfile