language: python
python: 3.6
services: mongodb
cache: pip 
sudo: required
matrix:
  include:
  - python: "2.7"
    env: TOXENV=py27
  - python: "3.4"
    env: TOXENV=py34
  - python: "3.5"
    env: TOXENV=py35 
  - python: "3.6"
    env: TOXENV=py36    
  # - python: "3.7-dev"
  #   env: TOXENV=py37           
install:
  - travis_retry pip install tox
script: tox -e $TOXENV