Biopython
pyvcf
mongoengine
cython
git+git://github.com/Phelimb/BIGSI.git@d3e9a310e6c91c887d7917ced5609b6002a67623
git+git://github.com/Phelimb/atlas-var.git@9aee355b25d0f94b4603eb4bf7e8c47af793f5d4


## Testing
detox
tox
pytest
pytest-cov
